.image-headline {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-top: 48px;
}

.arrow-icon {
  width: 64px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  color: orange;
  transition: 0.3s;
  background-color: black;
  padding: 4px;
  border-radius: 24px;
}

p img {
  width: 16px;
}
