header {
  min-height: 100px;
  background: orange;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

header img {
  width: 168px;
}

main {
  display: flex;
  width: 100%;
}

.rating-position {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: lightgray;
  gap: 24px;
}

.content {
  width: calc(100% - 300px);
}

.dishes-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
}

.price-style {
  color: orange;
  font-weight: bold;
}

footer {
  min-height: 100px;
  background: black;
}
